<ng-http-loader
  [entryComponent]="awesomeComponent"
  [backdropBackgroundColor]="'#000000'"
>
</ng-http-loader>

<ngx-extended-pdf-viewer
  *ngIf="showViewer"
  [base64Src]="base64Src"
  [(src)]="url"
  [showToolbar]="showToolbar"
  [showSidebarButton]="showSidebarButton"
  [showFindButton]="showFindButton"
  [showPagingButtons]="showPagingButtons"
  [showZoomButtons]="showZoomButtons"
  [showPresentationModeButton]="showPresentationModeButton"
  [showOpenFileButton]="showOpenFileButton"
  [showPrintButton]="showPrintButton"
  [showDownloadButton]="showDownloadButton"
  [showBookmarkButton]="showBookmarkButton"
  [showSecondaryToolbarButton]="showSecondaryToolbarButton"
  [showRotateButton]="showRotateButton"
  [showHandToolButton]="showHandToolButton"
  [showScrollingButton]="showScrollingButton"
  [showSpreadButton]="showSpreadButton"
  [showPropertiesButton]="showPropertiesButton"
  [useBrowserLocale]="useBrowserLocale"
  language="es-ES"
  (pdfLoadingStarts)="pdfLoadingStarts($event)"
  (progress)="onProgress($event)"
  (pdfLoaded)="pdfLoaded($event)"
  (pagesLoaded)="onPagesLoaded($event)"
  (pageRendered)="onEvent('pageRendered', $event)"
  (beforePrint)="onEvent('beforePrint', $event)"
  (afterPrint)="onEvent('afterPrint', $event)"
  (pdfLoadingFailed)="pdfLoadingFailed($event)"
>
</ngx-extended-pdf-viewer>
